<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectify|Home</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="Navbar-container">
      <div class="webname nav-flex">Projectify</div>
      <div class="weblogo nav-flex"></div>
      <div class="hardware nav-flex">
        <a href="/"><i class="fa-solid fa-microchip"></i>Hardware</a>
      </div>
      <div class="software nav-flex">
        <a href="/"><i class="fa-solid fa-wifi"></i>Software</a>
      </div>
      <div class="latest nav-flex">
        <a href="/"><i class="fa-solid fa-file-lines"></i>Latest</a>
      </div>
      <div class="upload nav-flex">
        <a href="/"> <i class="fa-solid fa-upload"></i>New</a>
      </div>
      <div class="login nav-flex">
        <a href="/"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a>
      </div>
      <div class="signup nav-flex">
        <a href="/"><i class="fa-solid fa-user-plus"></i>Signup</a>
      </div>
    </div>
      <!-- Navbar ends -->
      <div class="Main-container">

      </div>
  </body>
</html>
