<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectify|Home</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="Navbar-container">
        <div class="webname nav-flex">Projectify</div>
        <div class="weblogo nav-flex"></div>
        <div class="hardware nav-flex alert">
          <a href="/"><i class="fa-solid fa-microchip"></i>Hardware</a>
        </div>
        <div class="software nav-flex alert">
          <a href="/"><i class="fa-solid fa-wifi"></i>Software</a>
        </div>
        <div class="latest nav-flex alert">
          <a href="/"><i class="fa-solid fa-file-lines"></i>Latest</a>
        </div>
        <div class="upload nav-flex alert">
          <a href="/"> <i class="fa-solid fa-upload"></i>New</a>
        </div>
        <div class="login nav-flex">
          <a href="/login"
            ><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a
          >
        </div>
        <div class="signup nav-flex">
          <a href="/signup"><i class="fa-solid fa-user-plus"></i>Signup</a>
        </div>
      </div>
    </header>
    <!-- Navbar ends -->
    <div class="Main-container">
      <div class="description">
        <p class="des-main-heading">
          Welcome to Projectify - Your Student Project Hub!
        </p>

        Discover a dynamic student community where innovation and creativity
        thrive. At Projectify, students unite to share, explore, and collaborate
        on their projects, creating a hub of inspiration and growth. What We
        Offer:

        <p class="des-sub-heading">Your Projects:</p>
        Upload and present your projects, whether it's art, research, coding, or
        more, and receive valuable feedback.

        <p class="des-sub-heading">Connect and Collaborate:</p>
        Network with like-minded students, find collaborators, and expand your
        horizons.

        <p class="des-sub-heading">Mentorship:</p>
        Gain insights from experienced mentors to guide your academic journey.

        <p class="des-sub-heading">Resources:</p>
        Access a wealth of study materials, tutorials, and tips to excel in your
        studies. Join us now and be part of a dynamic community that celebrates
        student innovation. Start sharing your projects today!
      </div>
    </div>
    <div class="footer"></div>
    <script src="js/index.js"></script>
  </body>
</html>
