<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectify|Home</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="Navbar-container">
        <div class="webname nav-flex">Projectify</div>
        <div class="weblogo nav-flex"></div>
        <div class="upload nav-flex alert">
          <a href="/home"> <i class="fa-solid fa-house"></i>Home</a>
        </div>
        <div class="hardware nav-flex alert">
          <a href="/"><i class="fa-solid fa-microchip"></i>Hardware</a>
        </div>
        <div class="software nav-flex alert">
          <a href="/"><i class="fa-solid fa-wifi"></i>Software</a>
        </div>
        <div class="latest nav-flex alert">
          <a href="/"><i class="fa-solid fa-file-lines"></i>Latest</a>
        </div>
        <div class="login nav-flex">
          <a href="/login"
            ><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a
          >
        </div>
        <div class="signup nav-flex">
          <a href="/signup"><i class="fa-solid fa-user-plus"></i>Signup</a>
        </div>
      </div>
    </header>
    <!-- Navbar ends -->
    <div class="Main-container">
      <div class="login-container">
        <div class="flex Greetings">Welcome Back!</div>
        <div class="flex">
          <p>Login</p>
        </div>
        <form action="/" method="post">
          <div class="flex">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter Your Username"
              required
            />
          </div>
          <div class="flex">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter Your Password"
              required
            />
          </div>
          <div class="flex"><input type="submit" value="Login" /></div>
        </form>
        <div class="flex">
          <p class="otherwise">
            Don't have any account?<a href="/signup">Signup here </a>
          </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="flex block">
          <a href="/AboutUs"> About Us </a>
        </div>
        <div class="flex block">
          <a href="/contactUs">Contact Us</a>
        </div>
        <div class="flex block">
          <a href="/RateUs"> Feedback to The team</a>
        </div>
      </div>
    </footer>
  </body>
</html>
