a {
  text-decoration: none;
  color: none;
}
.Navbar-container {
  height: fit-content;
  width: 100%;
  background-color: #d5f2e3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-flex {
  display: inline-block;
  margin: 5px;
  font-size: 1.5rem;
}
.webname {
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav-flex a {
  color: #60992d;
}
.nav-flex a:hover {
  color: #01110a;
  font-style: italic;
  font-size: 1.8rem;
}
/* Navbar Css ends */
.Main-container {
  height: 700px;
  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg);
  margin: 0;
}
.description {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}
.description:hover {
  color: #ffd700;
}
.des-main-heading {
  font-size: 2.5rem;
  margin-top: 0;
}
.des-sub-heading {
  font-size: 1.5rem;
}
.footer {
  background-color: #2d3047;
  width: 100%;
  height: 80px;
}
/* footer CSS ends */
